<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Learning with Rian</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/css/styles.min.css?h=51a3dc46be9b9f91714755d28e0cc151">
</head>

<body>
    <header>
        <div id="navbarHeader" class="collapse bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <!-- Start: h4 about --><h4 class="text-white">About</h4>
                        <!-- End: h4 about -->
                        <!-- Start: paragraph --><p class="text-muted">This class is designed to help you learn web scraping using python. We expect you to have basic skills in python programming, web development and git version control. If you can finish this class sooner, we will encourage you with more advanced topics.</p>
                        <!-- End: paragraph -->
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <!-- Start: h4 contact --><h4 class="text-white">Contact</h4>
                        <!-- End: h4 contact -->
                        <!-- Start: lists unordered --><ul class="list-unstyled">
    <li><a href="https://medium.com/@rianaditro" class="text-white">Read my latest article</a></li>
    <li><a href="https://www.instagram.com/rian_aditro" class="text-white">Follow me!</a></li>
</ul>
                        <!-- End: lists unordered -->
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between"><a class="navbar-brand d-flex align-items-center" href="#"><i class="fa fa-code"></i><strong>&nbsp;Learn With Rian</strong></a><button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
                    aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-navicon"></i></button></div>
        </div>
    </header>
    
    {% block content %}{% endblock %}
    
    <footer class="text-muted">
        <div class="container">
            <p class="float-right"><a href="#">Back To Top</a></p><p>Written by <a href="https://www.instagram.com/rian_aditro">Rian Aditro</a></p>
<p>Need help? Leave me a message to get <a href="https://www.instagram.com/rian_aditro">one-on-one mentoring support </a>.</p></div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>